/* Google Font Import - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  background-color: #e4e9f7 !important;
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */

.sidebar--cus {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar--cus.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */

.sidebar--cus li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar--cus header .image,
.sidebar--cus .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar--cus .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar--cus .text,
.sidebar--cus .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar--cus .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar--cus.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar--cus header {
  position: relative;
}

.sidebar--cus header .image-text {
  display: flex;
  align-items: center;
}

.sidebar--cus header .logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text img {
  width: 120px;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar--cus header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar--cus header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar--cus header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar--cus header .toggle {
  color: var(--text-color);
}

.sidebar--cus.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar--cus .menu {
  margin-top: 40px;
}

.sidebar--cus li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar--cus li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar--cus li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar--cus li a:hover {
  background-color: var(--primary-color);
}

.sidebar--cus li a:hover .icon,
.sidebar--cus li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar--cus li a:hover .icon,
body.dark .sidebar--cus li a:hover .text {
  color: var(--text-color);
}

.sidebar--cus .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: scroll; */
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar--cus .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar--cus.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

.topHeader {
  background-color: white;
  width: 100%;
  height: 70px;
  padding: 20px;
}

.topHeader .dektopIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.ownerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ownerImg img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  border: 5px solid orangered;
}

.ownerImg .welcome {
  font-size: 15px;
  font-weight: 500;
  color: gray;
}

.ownerImg .owernName {
  font-size: 20px;
  font-weight: bold;
}

.container {
  padding: 20px;
}

.ownerImg2 img {
  width: 50px;
  height: 50px;
}

.sidebar--cus.close .ownerImg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid orangered;
}

.sidebar--cus.close .owernName {
  font-size: 10px;
  font-weight: bold;
}

.menu-links--cus {
  margin-top: 30px;
  padding: 0 !important;
}

.padd-wrap {
  padding: 30px 50px;
}

.box--wrap {
  background-color: #fff;
  width: 100%;
  height: 300px;
  box-shadow: 0 0 15px #7777;
  border-radius: 20px;
  margin-bottom: 30px;
}

.icons {
  display: none;
}
.profile-menu .dropdown-menu {
  right: 0;
  left: unset;
}

.profile-menu .fa-fw {
  margin-right: 10px;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}

@media only screen and (max-width: 999px) {
  .topHeader .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
  }
  .topHeader .dektopIcons {
    display: none;
  }
}
