/* Google Font Import - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./variable.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-color) !important;
  transition: var(--tran-05);
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}
table thead tr th {
  width: 16%;
}
.form-check-input:checked {
  background-color: var(--primary-color);
}
/* ===== Sidebar ===== */
.menu-links--cus .icon {
  font-size: 22px;
}

.sidebar--cus {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 9999 !important;
}

.sidebar--cus.close {
  width: 88px;
}
.nav-link--cus .dropdown-menu {
  width: 220px;
  background-color: #e2e2e2 !important;
  z-index: 99999;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav-text {
  position: relative;
}
.nav-text #icon {
  position: absolute;
  top: 3px;
  /* right: 40px; */
  padding-left: 10px;
}
#icon {
  font-size: 20px;
  font-weight: 900;
}
#icon.rotate {
  animation: rotateAnimation 0.3s ease-in-out;
}

/* ===== Reusable code - Here ===== */

.sidebar--cus li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
}

.sidebar--cus header img,
.sidebar--cus .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar--cus .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar--cus .text,
.sidebar--cus .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar--cus .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar--cus.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar--cus header {
  position: relative;
}

.sidebar--cus header .image-text {
  display: flex;
  align-items: center;
}

.sidebar--cus header .logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.logo-text img {
  width: 120px;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar--cus header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar--cus header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar--cus header .toggle {
  position: absolute;
  top: 90%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
.close .toggle {
  top: 120% !important;
}

.sidebar--cus.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar--cus .menu {
  margin-top: 40px;
}

.sidebar--cus li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar--cus li a:hover {
  background-color: var(--primary-color);
  color: white !important;
}

.sidebar--cus li a:hover .icon,
.sidebar--cus li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar--cus li a:hover .icon,
body.dark .sidebar--cus li a:hover .text {
  color: var(--text-color);
}

.sidebar--cus .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  scrollbar-width: none; /* Use "none" if you want to completely hide the scrollbar */
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar--cus .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar--cus.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

.ownerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ownerImg img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  border: 5px solid var(--primary-color);
  object-fit: cover;
}

.ownerImg .welcome {
  font-size: 13px;
  font-weight: 500;
  color: gray;
  margin-top: 10px;
}

.ownerImg .owernName {
  font-size: 20px;
  font-weight: bold;
}

.container {
  padding: 20px;
}

.sidebar--cus.close .ownerImg img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 3px;
  border: 3px solid var(--primary-color);
  text-align: center;
}

.sidebar--cus.close .owernName {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}
.sidebar--cus.close .ownerImg .welcome {
  font-size: 12px;
}

.menu-links--cus {
  margin-top: 30px;
  padding: 0 !important;
}
.nav-link--cus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.padd-wrap {
  padding: 30px 50px;
}

.box--wrap {
  background-color: #fff;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 0 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  align-items: center;
}
.box--wrap img {
  width: 70px;
  height: 70px;
}

.box--wrap:hover {
  box-shadow: 0 0 15px #7777;

  transform: scale(1.1);
}
.icons {
  display: none;
}
.icons .topDropDown button {
  background-color: var(--primary-color) !important;
  border: none;
  padding: 5px 10px;
  border-radius: 5px !important;

  /* margin-left: 100px; */
}
.profile-menu .dropdown-menu {
  right: 0;
  left: unset;
}

.profile-menu .fa-fw {
  margin-right: 10px;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}

/* ? Top header */
.topHeader {
  background-color: white;
  width: 100%;
  /* height: 70px; */
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topHeader .dektopIcons {
  display: flex;
  gap: 25px;
}
.bell {
  width: 45px;
  height: 45px;
  background-color: var(--icon-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--icons-color);
  cursor: pointer;
}
.bell span {
  width: 18px;
  height: 18px;
  background-color: var(--icons-color);
  border-radius: 50%;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  margin-left: 15px;
  border: 2px solid white;
}
.logout .btn {
  color: black;
  width: auto;
  height: auto;
  padding: 0;
}
.logout .btn img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.allmesages {
  position: relative;
}
.showMes {
  position: absolute;
  top: 50px;
  right: 15%;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  background-color: var(--icon-bg);
  overflow-x: auto;
  box-shadow: 0 0 15px #7777;
}
.showMes.hidden {
  display: none;
}
/* =================== */

.notification-ui_dd-content {
  margin-bottom: 5px;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 7px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
  border-left: 2px solid #29b6f6;
}

.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-list .notification-list_content .notification-list_img img {
  height: 35px;
  width: 35px;
  border: 3px solid var(--primary-color);
  padding: 2px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}
.notification-list_detail p b {
  font-size: 12px;
}
.notification-list_detail .text-muted {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
}
.notification-list_detail small {
  font-weight: bold;
  color: #212529;
}

.box--wrap2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box--wrap2 span {
  font-size: 20px;
  font-weight: 600;
}
.box--wrap2 img {
  width: 130px;
  height: 80px;
}

/* ==== */
.card1 h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
}

.card1 {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 20px;
  width: 100%;
  height: 150px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: var(--primary-color);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.4s ease-out;
}
.card1:hover {
  box-shadow: -2px 2px 20px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -2px 2px 20px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 2px 20px 10px rgba(0, 0, 0, 0.25);
}
.card1:hover:before {
  transform: scale(28);
}
.card1 svg {
  width: 50px;
  fill: var(--primary-color);
}

.card1:hover svg {
  transition: all 0.3s ease-out;
  fill: white;
}
.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

/* ===== Current Patient ===== */
.table {
  background-color: white;
  border-radius: 10px !important;
  /* text-align: center; */
}
.table thead {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  white-space: nowrap;
}
.removebtn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}
.removebtn,
.removebtn:hover {
  background-color: var(--primary-color) !important;
  color: white;
}
.removebtn a span {
  color: white;
  text-decoration: none !important;
}
.table button {
  background: transparent;
}
.patientImg img {
  width: 60px !important;
  height: 60px !important;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  object-fit: cover;
}

.table img {
  width: 35px;
}
.table .message {
  font-size: 30px !important;
  cursor: pointer;
  color: var(--primary-color);
}
.table .message:hover {
  color: black;
}

.customModal .modal-content {
  border: 4px solid var(--primary-color);
  border-radius: 15px;
}
.modal-footer button:nth-child(1) {
  background-color: var(--primary-color);
  border: none !important;
}

/* ? ==== Appointments List ==== */

.datePicker button {
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: white;
  border-radius: 0px 5px 5px 0px;
  border: none !important;
}
.datePicker input {
  padding: 10px 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
}
.datePicker input:focus,
.datePicker input:active {
  border-color: none !important;
  box-shadow: none !important;
}

/* ? =======Medical History ======== */

.profileCard {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 15px #7777;
}
.profileCard img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 5px;
  border: 5px solid var(--primary-color);
  object-fit: cover;
}
.profileCard .name {
  font-weight: 800;
  font-size: 25px;
  color: var(--primary-color);
}
.profileCard .info {
  /* font-size: 17px; */
  font-weight: 500;
}
.profileCard .rightProfile {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 25px;
}
.medicalDetails {
  background-color: white;
  width: 100%;
  height: 100% !important ;
  /* height: 1000px; */
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 15px #7777;
}
/* ? Tabs */

/* Style the buttons inside the tab */
.tablinks {
  color: var(--primary-color);
  font-weight: 600;
  background-color: var(--icon-bg);
  padding: 15px 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  white-space: nowrap;
}

/* Create an active/current "tab button" class */
.tablinks.active {
  background-color: var(--primary-color);
  color: white;
  position: relative;
}
.tablinks.active::before {
  content: "";
  position: absolute;
  right: -8px;
  width: 0;
  height: 0;
  top: 22px;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 10px solid var(--primary-color);
  transform: rotate(90deg);
}

.table-responsive {
  border-radius: 10px !important;
}

/* Sub tabs */
.tab-link {
  cursor: pointer;
  padding: 10px 30px;
  background-color: var(--icon-bg);
  color: var(--primary-color);
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.tab-link.active {
  background-color: var(--primary-color);
  color: white;
  position: relative;
}
.tab-link.active::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 50px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 10px solid var(--primary-color);
  transform: rotate(180deg);
}

.tab-content {
  width: 100%;
}
#personalDetails .table-responsive,
#social .table-responsive,
#relative .table-responsive,
#encounterNotes .table-responsive,
#reports .table-responsive,
#medications .table-responsive {
  height: 400px !important;
  overflow-y: auto;
}
#MedialHistory .tabRow1 {
  height: 350px;
  overflow-y: auto;
}
#MedialHistory ul {
  overflow-x: auto;
  padding-bottom: 15px;
}

#personalDetails .table-responsive::-webkit-scrollbar,
#MedialHistory .tabRow1::-webkit-scrollbar,
#social .table-responsive::-webkit-scrollbar,
#relative .table-responsive::-webkit-scrollbar,
#encounterNotes .table-responsive::-webkit-scrollbar,
#reports .table-responsive::-webkit-scrollbar,
#medications .table-responsive::-webkit-scrollbar,
.mainDiv::-webkit-scrollbar,
.showMes::-webkit-scrollbar {
  width: 10px;
  background-color: var(--icon-bg) !important;
  border-radius: 10px;
}
#personalDetails .table-responsive::-webkit-scrollbar-thumb,
#MedialHistory .tabRow1::-webkit-scrollbar-thumb,
#social .table-responsive::-webkit-scrollbar-thumb,
#relative .table-responsive::-webkit-scrollbar-thumb,
#encounterNotes .table-responsive::-webkit-scrollbar-thumb,
#reports .table-responsive::-webkit-scrollbar-thumb,
#medications .table-responsive::-webkit-scrollbar-thumb,
.mainDiv::-webkit-scrollbar-thumb,
.showMes::-webkit-scrollbar-thumb,
.contacts_body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}
.contacts_body::-webkit-scrollbar,
.msg_card_body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
.contacts_body::-webkit-scrollbar-thumb,
.msg_card_body::-webkit-scrollbar-thumb {
  background: var(--icon-bg);
  border-radius: 10px;
}
#MedialHistory .tableHead,
#medi .tableHead,
.soapBox .tableHead {
  background-color: var(--primary-color);
  width: 100%;
  /* height: 40px; */
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px 5px 0px 0px;
}

#MedialHistory .inputText {
  text-align: justify;
  hyphens: auto;
  padding-left: 10px;
}
.selected-row {
  background-color: var(--icon-bg);
}
#input-container div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#input-container div input {
  padding: 3px 10px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid var(--primary-color);
}
#input-container div input:focus {
  border: none !important;
}
#input-container div input:active {
  border: none !important;
}
#input-container button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 200;
  font-size: 15px;
}

.forwareToPatient {
  background-color: var(--primary-color);
  color: white;
  padding: 5px;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 15px;
}
.medicalDetails .tabShowMob {
  width: 30%;
}
.sureScriptForm {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px #9d9d9d77;
  padding: 20px;
}

/* ? ===== My Schedule ====== */
.mySchedule {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.mySchedule .timePicker {
  padding: 2px 10px;
  border-radius: 5px;
}

.mySchedule .selected {
  background-color: var(--icon-bg);
}
.mySchedule tbody td {
  padding: 20px 0px !important;
}

/* ? ==== Instant Connect ======= */
.form-bg {
  display: grid;
  justify-content: center;
}
.form-container {
  background: linear-gradient(var(--primary-color), var(--primary-color));
  font-size: 0;
  width: 950px;
  /* height: 400px; */
  padding: 0 15px;
  /* border: 1px solid #DC2036; */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.form-container .form-icon {
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 100px 0;
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
}
.form-container .form-icon i {
  font-size: 124px;
  margin: 0 0 15px;
  display: block;
}
.form-container .form-icon .signup a {
  color: #fff;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.form-container .form-icon .signup a:hover {
  text-decoration: underline;
}
.form-container .form-horizontal {
  background: rgba(255, 255, 255, 0.99);
  width: 50%;
  padding: 115px 30px;
  margin: -20px 0;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.form-container .title {
  color: #454545;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin: 0 0 30px 0;
}
.form-horizontal .form-group {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 0 15px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
}
.form-horizontal .input-icon {
  color: #b5b5b5;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  height: 35px;
  width: 40px;
  vertical-align: top;
  display: inline-block;
}
.form-horizontal .form-control {
  color: #b5b5b5;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 1px;
  width: calc(100% - 55px);
  height: 33px;
  padding: 2px 10px 0 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  display: inline-block;
  transition: all 0.3s;
}
.form-horizontal .form-control:focus {
  box-shadow: none;
  border: none;
}
.form-horizontal .form-control::placeholder {
  color: #b5b5b5;
  font-size: 13px;
  text-transform: capitalize;
}
.form-horizontal .btn {
  color: var(--primary-color);
  background: var(--icon-bg);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form-horizontal .forgot-pass {
  font-size: 12px;
  text-align: center;
  display: block;
}
.form-horizontal .forgot-pass a {
  color: #999;
  transition: all 0.3s ease;
}
.form-horizontal .forgot-pass a:hover {
  color: #777;
  text-decoration: underline;
}

/* ? ===== Multple select fiels ==== */
.filter-multi-select.dropup,
.filter-multi-select.dropdown {
  position: relative;
}

.filter-multi-select .dropdown-toggle::after {
  all: unset;
}

.filter-multi-select .dropdown-toggle:empty::after {
  all: unset;
}

.filter-multi-select > .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.filter-multi-select > .dropdown-toggle:empty::before {
  margin-right: 0.255em;
}

.filter-multi-select > .viewbar {
  white-space: normal;
  font-size: 0.875rem;
  font-weight: 400;
  height: auto;
  cursor: pointer;
}

.filter-multi-select > .viewbar > .selected-items > .item {
  margin: 0.125rem 0.25rem 0.125rem 0;
  padding: 0px 0px 0px 0.5em;
  display: inline-flex;
  height: 1.875em;
  color: white;
  background-color: var(--primary-color);
  border-radius: 1.1em;
  align-items: center;
  vertical-align: baseline;
  padding: 5px 10px;
}

.filter-multi-select > .viewbar > .selected-items > .item > button {
  background-color: transparent;
  color: white;
  border: 0;
  font-weight: 900;
  cursor: pointer;
}

.filter-multi-select > .viewbar > .selected-items > .item > button:hover {
  filter: contrast(50%);
}

.filter-multi-select > .viewbar > .selected-items > .item.disabled {
  display: inline-flex;
  padding: 0px 0.5em 0px 0.5em;
  filter: grayscale(80%) brightness(150%);
}

.filter-multi-select > .viewbar > .selected-items > .item.disabled > button {
  display: none;
}

.filter-multi-select > .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1000;
  display: none;
  float: left;
  max-height: 50vh;
  min-width: 10rem;
  overflow-y: auto;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.filter-multi-select > .dropdown-menu.show {
  display: block;
}

.filter-multi-select > .dropdown-menu > .filter > input {
  font-size: 0.875rem;
}

.filter-multi-select > .dropdown-menu > .filter > button {
  position: absolute;
  border: 0;
  background-color: transparent;
  font-weight: 900;
  color: #ccc;
  right: 2rem;
  top: 1rem;
}

.filter-multi-select > .dropdown-menu > .filter > button:hover {
  color: #aaa;
}

.filter-multi-select .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.filter-multi-select .dropdown-item.disabled,
.filter-multi-select .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.filter-multi-select .dropdown-item:hover,
.filter-multi-select .dropdown-item:focus {
  background-color: inherit;
}

.filter-multi-select .dropdown-item.active,
.filter-multi-select .dropdown-item:active {
  color: inherit;
}

.filter-multi-select .dropdown-item .custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-multi-select .dropdown-item .custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  display: inline-block;
}

.filter-multi-select .dropdown-item .custom-control-label::before {
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  position: absolute;
  top: 0.15625rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #ffffff;
  border: #adb5bd solid 1px;
}

.filter-multi-select .dropdown-item .custom-control-label::after {
  position: absolute;
  top: 0.15625rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.filter-multi-select
  .dropdown-item
  .custom-checkbox:checked
  ~ .custom-control-label::before,
.filter-multi-select
  .dropdown-item
  .custom-checkbox:indeterminate
  ~ .custom-control-label::before {
  /* border-color: pink; */
  background-color: var(--primary-color);
}

.filter-multi-select
  .dropdown-item
  .custom-checkbox:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter-multi-select
  .dropdown-item
  .custom-checkbox:indeterminate
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23FFFFFF' d='M0 2h4'/%3e%3c/svg%3e");
}
.selected-items button {
  margin-left: 10px;
}
.multiDrop {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  box-shadow: 0 0 15px #9d9d9d77;
  /* text-align: center; */
}
.multiDrop button {
  background-color: var(--primary-color);
  border: none;
}

#soap .search,
.myPatient .search {
  display: inline-block;
  position: relative;
}

#soap .search input[type="text"],
.myPatient .search input[type="text"] {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#soap .search input[type="text"]:focus,
.myPatient .search input[type="text"]:focus {
  outline: none;
}

#soap .search button[type="submit"],
.myPatient .search button[type="submit"] {
  background-color: var(--icon-bg);
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

#soap .search button[type="submit"]:hover,
.myPatient .search button[type="submit"]:hover {
  transform: scale(1.1);
  color: white;
  background-color: var(--primary-color);
}

.soapBox {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100%;
}
.custom-table th {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

/* ? ====== App Invitaion screen ===== */

.left-box {
  background-color: var(--icon-bg);
}
.box-area {
  width: 1200px;
}
/*------------ Right box ------------*/
.right-box {
  padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder {
  font-size: 16px;
}
.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}

.appLinks form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.mainDiv {
  height: 400px !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.appLinks img {
  width: 45px;
}
.appLinks span {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.appLinks label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.appLinks label input {
  position: absolute;
  left: -9999px;
}

.appLinks label input:checked + span {
  background-color: var(--primary-color);
  color: white;
}

.appLinks label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em var(--primary-color);
}

.appLinks label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: var(--primary-color);
  padding: 10px 10px;
}

.appLinks label span:hover {
  background-color: var(--primary-color);
  color: white;
}

.appLinks label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

/* ? ===== Chat Box / Messages =====  */
.chat {
  margin-top: auto;
  margin-bottom: auto;
}
.chatBox {
  height: 600px;
  border-radius: 15px !important;
  background-color: var(--primary-color);
}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body {
  overflow-y: auto;
}
.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container {
  align-content: center;
}
.contacts_card .search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}
.contacts_card .search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
  height: 100%;
}
.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
  height: 100%;
}
.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
  height: 100%;
}
.contacts {
  list-style: none;
  padding: 0;
}
.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.contacts .active {
  background-color: rgba(0, 0, 0, 0.3);
}
.user_img {
  height: 50px;
  width: 50px;
  border: 1.5px solid #f5f6fa;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}
.img_cont_msg {
  height: 40px;
  width: 40px;
}
.online_icon {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 1.5em;
  right: 1.2rem;
  border: 1.5px solid white;
}
.offline {
  background-color: #c23616 !important;
}
.user_info {
  margin-top: auto;
  margin-bottom: auto;
}
.user_info span {
  font-size: 17px;
  color: white;
}
.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  font-size: 15px;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
  font-size: 15px;
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_head {
  position: relative;
}
#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i {
  padding-right: 10px;
}
.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.hidden,
.mobViewChat {
  display: none;
}

/* ? Support Page */

.support {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.topicon {
  background-color: var(--icon-bg);
  color: var(--icons-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.supportPara {
  width: 50%;
  text-align: center;
}
.supportBox {
  display: flex;
  gap: 20px;
}
.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  padding: 30px 20px;
  background-color: var(--icon-bg);
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.infoBox i {
  font-size: 30px;
  color: var(--icons-color);
}
.infoBox span {
  font-size: 15px;
  font-weight: 500;
}
.infoBox:hover {
  box-shadow: 0 0 15px #7777;

  transform: scale(1.1);
}
/* ? ==== Mobile  Responsive ======= */
@media only screen and (max-width: 600px) {
  .topHeader {
    padding: 20px;
    justify-content: space-around;
    align-items: center;
  }
  .topHeader .icons {
    display: block;
  }
  .mobViewChat {
    display: block;
  }
  .topHeader .dektopIcons,
  .desktopViewChat {
    display: none;
  }
  .topHeader h2 {
    font-size: 20px;
    align-items: center;
    font-size: 14px !important;
  }
  .padd-wrap {
    padding: 10px;
    margin-left: 30px;
  }
  .box--wrap {
    width: 100%;
    height: 150px;
    padding: 0 20px;
  }
  .box--wrap span {
    font-size: 10px;
    white-space: nowrap;
  }
  .box--wrap img {
    width: 40px;
    height: 40px;
  }
  .sidebar--cus.close + .home {
    filter: blur(0px);
  }
  .sidebar--cus + .home {
    /* background-color: white; */
    filter: blur(50px);
  }

  thead {
    font-size: 13px;
  }
  .customModal {
    width: 300px;
    margin-left: 100px;
  }

  .sidebar--cus.close {
    width: 0px;
  }
  .medicalDetails {
    height: 100% !important;
    padding: 15px;
  }
  .medicalDetails .tabOnMob {
    width: 100%;
  }
  .medicalDetails .tabOnMob {
    flex-direction: column;
  }
  .medicalDetails .nav-pills {
    width: 100%;
  }
  #MedialHistory ul {
    overflow-x: auto;
    padding-bottom: 15px;
  }
  .sidebar--cus.close ~ .home {
    width: 100%;
    left: 0;
  }
  .multiDrop {
    padding-bottom: 20px;
    text-align: center;
  }
  .search input[type="text"] {
    width: 280px;
    margin-bottom: 20px;
  }
  .datePicker button {
    padding: 5px;
  }
  .datePicker input {
    padding: 10px;
  }
  .mySchedule .timePicker {
    width: 100px;
  }
  .mySchedule td div {
    display: flex;
    gap: 10px;
  }
  .contacts_card {
    margin-bottom: 15px !important;
  }
  .backButton {
    background-color: transparent;
    border: none;
    color: white;
    padding-right: 20px;
    margin-top: -20px;
  }
  .msg_cotainer,
  .msg_cotainer_send {
    font-size: 12px;
  }
  .supportBox {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .support {
    padding: 0;
    align-items: center;
  }
  .supportPara {
    width: 100% !important;
  }
}
@media only screen and (max-width: 576px) {
  .form-container {
    padding-bottom: 15px;
    width: 100%;
  }
  .form-container .form-icon {
    width: 100%;
    padding: 20px 0;
  }
  .form-container .form-horizontal {
    width: 100%;
    margin: 0;
  }
}

/* ? ==== Tablet  Responsive ======= */
@media only screen and (max-width: 900px) {
  .sidebar--cus.close ~ .home {
    width: 100%;
    left: 0;
  }

  .sidebar--cus.close {
    width: 0px;
  }
  .medicalDetails .tabOnMob {
    width: 100%;
  }
  .medicalDetails .tabOnMob {
    flex-direction: column;
  }
  .medicalDetails .nav-pills {
    width: 100%;
  }
  #MedialHistory ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 15px;
  }
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    height: 100%;
    margin: 0 10px;
  }
  .left-box {
    height: 100%;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
